.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ccc;
    padding: 10px;
}

#cart_contain {
    width: 900px;
    box-sizing: border-box;
    padding: 10px;
    position: relative; /* 设置为相对定位 */
    flex-direction: column;
}

#checkout_contain {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute; /* 设置为绝对定位 */
    top: 0;
    right: 20px; /* 将其移动到 cart_contain 的右侧 */
    height: 200px;
    flex-direction: column;
}
#checkout_contain p {
    font-size: 24px; /* Adjust the font size as needed */
}

.item {
    display: flex;
    margin-bottom: 10px;
    
}

.item img {
    width: 100px; /* 图片宽度 */
    height: auto;
    margin-right: 10px;
}

.item div {
    flex: 1; /* 剩余空间全部占用 */
}

.item p {
    margin: 10;
}

.delete-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-btn img {
    width: 20px;
    height: 20px;
}

#checkout-btn {
    padding: 10px 20px;
    background-color: #ff9100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px; /* Adjust as needed */
  }
  
#checkout-btn :hover{
    background-color: #0056b3;
}