.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3578dc;
    color: #fff;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    /* 设置背景图像的路径 */
    /*background-image: url(backgroud.png);*/
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url(background.png);
    /* 设置背景图像的位置，这里是居中 */
    background-position: center;
    /* 设置背景图像的大小，这里是cover，使其覆盖整个屏幕 */
    background-size: cover;
    /* 使背景图像固定不随页面滚动而移动 */
    background-attachment: fixed;
  }
  
