 /* 左侧 dock 样式 */
 #dock_left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; /* 设置 dock 宽度 */
    height: 100%;
    background-color: #FFA500; /* dock 背景颜色 */
    z-index: 9999; /* 确保 dock 处于最顶层 */
}

#dock_right{
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #FFA500;
  z-index: 9999;
  overflow-y: 100px;
} 
/* dock 图标样式 */
.dock-icon {
    position: relative; /* 设置图标相对定位 */
    display: block;
    width: 50px;
    height: 70px;
    background-color: #555; /* 图标背景颜色 */
    margin-bottom: 10px; /* 图标之间的间距 */
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

/* dock 图标的 hover 效果 */
.dock-icon:hover {
    background-color: #777; /* 鼠标悬停时的背景颜色 */
}
/* 图标上的数字样式 */
.dock-icon .badge {
    position: absolute; /* 设置绝对定位 */
    top: 0;
    right: 0;
    background-color: red; /* 数字背景颜色 */
    color: white; /* 数字颜色 */
    padding: 2px 5px; /* 数字内边距 */
    border-radius: 50%; /* 数字的圆角 */
    font-size: 12px; /* 数字的字体大小 */
}

/* 浮窗样式 */
#tooltip-confer {
    display: none; /* 默认隐藏 */
    position: absolute; /* 绝对定位 */
    width: 300px;
    height: auto;
    background-color: #ffffff;
    color: #000;
    border: 2px solid #007bff; /* 添加边框，淡蓝色 */
    padding: 5px;
    border-radius: 5px;
    z-index:9999;
  }

  /* 模态框样式 */
#reportModal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位，覆盖在页面上 */
    z-index: 9999; /* 堆叠顺序 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 半透明背景 */
  }
  
  /* 模态框内容 */
  #modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 居中 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* 关闭按钮样式 */
  #close_report {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close_report:hover,
  #close_report:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }