body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    /* 设置背景图像的路径 */
    /*background-image: url(backgroud.png);*/
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url(background.png);
    /* 设置背景图像的位置，这里是居中 */
    background-position: center;
    /* 设置背景图像的大小，这里是cover，使其覆盖整个屏幕 */
    background-size: contain;
    /* 使背景图像固定不随页面滚动而移动 */
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}